# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DesignPatterns.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\GitHub\.Net\CSharp-DesignPatterns\DesignPatterns\.idea\.idea.DesignPatterns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
